POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_DOMAIN=

DB_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_DOMAIN}:${POSTGRES_PORT}/${POSTGRES_DB}

SECRET_KEY_JWT=secret_key
ALGORITHM=HS256

MAIL_USERNAME=fatsapiuser@meta.ua
MAIL_PASSWORD=pythonCourse2023
MAIL_FROM=fatsapiuser@meta.ua
MAIL_PORT=465
MAIL_SERVER=smtp.meta.ua

REDIS_DOMAIN=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

CLD_NAME=
CLD_API_KEY=
CLD_API_SECRET=

